# Ignoring data files #
#######################
*.pkl
*.npy

# We'll ignore all of the following:

dist/*

.DS_Store
.idea
map_files/*
*.jpg
!/images/*.jpg
!/docs/_images/*.jpg
*.pyc
city_archive.json
.mypy_cache
.coverage
htmlcov

utils/__pycache__/*
prediction/__pycache__/*
map_files/__pycache__/*
top_k_prediction/__pycache__/*
argoverse.egg-info/top_level.txt
argoverse.egg-info/SOURCES.txt
argoverse.egg-info/requires.txt
argoverse.egg-info/PKG-INFO
argoverse.egg-info/dependency_links.txt
*.egg
*.log
.tox/*
tests/test_data/tmp
._map_files
.eggs/
/sphinx/source
/docs/.buildinfo
/docs/_sources
