name: Use Setup-Miniconda From Marketplace
on: [push]

jobs:
  miniconda:
    name: Miniconda ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            os: ["ubuntu-latest"]
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: test
          environment-file: .conda/environment.yaml
          auto-activate-base: false
      - shell: bash -l {0}
        run: |
          conda info
          conda list
      - name: Install dependencies
        shell: bash -l {0}
        run: |
            poetry install nox
      - name: Download Argoverse HD map files
        shell: bash -l {0}
        run: |
          wget https://s3.amazonaws.com/argoai-argoverse/hd_maps.tar.gz
          tar -xvzf hd_maps.tar.gz
      - name: Test with nox
        shell: bash -l {0}
        run: |
          nox -rs
